# CONTENT

## Astroquery Example

In [32]:
import astroquery
from astroquery.simbad import Simbad
from astropy import units as uu, constants as cc
import numpy as np
from parameters import *

In [33]:
result_table = Simbad.query_object("m1")

In [34]:
result_table

<Table length=1>
MAIN_ID      RA         DEC     ...     COO_BIBCODE     SCRIPT_NUMBER_ID
          "h:m:s"     "d:m:s"   ...
 object    str13       str13    ...        object            int32
------- ----------- ----------- ... ------------------- ----------------
  M   1 05 34 31.94 +22 00 52.2 ... 2011A&A...533A..10L                1

In [35]:
s = Simbad()
# bibcodelist(date1-date2) lists the number of bibliography
# items referring to each object over that date range
s.add_votable_fields('bibcodelist(2003-2013)', "z_value")
r = s.query_object('m31')
r.pprint()

MAIN_ID      RA          DEC      ...  Z_VALUE   SCRIPT_NUMBER_ID
          "h:m:s"      "d:m:s"    ...
------- ------------ ------------ ... ---------- ----------------
  M  31 00 42 44.330 +41 16 07.50 ... -0.0010000                1

In [36]:
s.query_object('ugc7831')

<Table length=1>
 MAIN_ID       RA          DEC      ...  Z_VALUE  SCRIPT_NUMBER_ID
            "h:m:s"      "d:m:s"    ...
  object     str13        str13     ...  float64       int32
--------- ------------ ------------ ... --------- ----------------
NGC  4605 12 39 59.381 +61 36 33.09 ... 0.0004840                1

In [37]:
from astroquery.ipac.ned import Ned
result_table = Ned.get_table("ugc 7831", table='positions')
print(result_table)

No.       RA       ... Published Frequence Mode         Qualifiers
                   ...
--- -------------- ... ------------------------ -------------------------
  0   12h39m59.38s ...
  1 12h39m59.4000s ...                                   Uncertain origin
  2 12h39m59.3801s ...                                   Uncertain origin
  3 12h39m59.3801s ...                                   Uncertain origin
  4 12h39m59.2896s ...                                   Uncertain origin
  5 12h39m59.3800s ...                                   Uncertain origin
  6 12h39m59.4000s ...                                   Uncertain origin
  7 12h39m59.2850s ...                                   Uncertain origin
  8 12h39m59.4000s ...                                   Uncertain origin
  9 12h39m59.3798s ...                                   Uncertain origin
...            ... ...                      ...                       ...
 24   12h39m59.46s ...   Broad-band measurement        From new, raw data
 25   12h40m00.26s ...   Broad-band measurement        From new, raw data
 26    12h40m00.3s ...                                   Uncertain origin
 27    12h40m00.3s ...                                   Uncertain origin
 28    12h39m59.4s ...                                   Uncertain origin
 29   12h40m01.36s ...   Broad-band measurement        From new, raw data
 30   12h40m00.87s ...   Broad-band measurement From reprocessed raw data
 31    12h40m00.1s ...   Broad-band measurement        From new, raw data
 32    12h40m00.3s ...   Broad-band measurement From reprocessed raw data
 33      12h39m55s ...   Broad-band measurement        From new, raw data
Length = 34 rows

In [38]:
result_table['No.','RA','DEC','Frequency']

<Table length=34>
 No.        RA            DEC        Frequency
int32     object         object        object
----- -------------- -------------- ------------
    0   12h39m59.38s   +61d36m33.1s
    1 12h39m59.4000s +61d36m32.508s
    2 12h39m59.3801s +61d36m33.098s
    3 12h39m59.3801s +61d36m33.098s
    4 12h39m59.2896s +61d36m32.886s
    5 12h39m59.3800s +61d36m33.000s
    6 12h39m59.4000s +61d36m32.000s
    7 12h39m59.2850s +61d36m32.940s
    8 12h39m59.4000s +61d36m33.000s
    9 12h39m59.3798s +61d36m33.001s
  ...            ...            ...          ...
   24   12h39m59.46s   +61d36m36.4s Photographic
   25   12h40m00.26s   +61d36m32.5s Photographic
   26    12h40m00.3s     +61d36m29s
   27    12h40m00.3s     +61d36m29s
   28    12h39m59.4s     +61d36m33s
   29   12h40m01.36s   +61d36m22.6s         IRAS
   30   12h40m00.87s   +61d36m28.6s         IRAS
   31    12h40m00.1s     +61d36m21s     4.85 GHz
   32    12h40m00.3s     +61d36m30s     4.85 GHz
   33      12h39m55s      +61d36.5m Photographic

In [39]:
SaggitariusAMass = 4.1E6*cc.M_sun
SaggitariusARadius  = (3/4/np.pi*(SaggitariusAMass/dbh)**(1/3))
SaggitariusARadius.to(uu.km)
# Black Hole Density = 5.8E18 kg/m3
# SaggitariusARadius = 267 km

In [40]:
dbh

In [41]:
# Correction to G, mu0 and epsilon0
# Earth Velocity with respect to the CMB = 369.82 km/s

In [42]:
v= 369.82 * uu.km/uu.s
coef = (1-v**2/cc.c**2)
G0 = cc.G/coef; G0, coef

(<Quantity 6.67431016e-11 m3 / (kg s2)>, <Quantity 0.99999848>)

In [43]:
mu0 = cc.mu0/coef ; mu0

In [44]:
epsilon0 = cc.eps0*coef; print(epsilon0.value,cc.eps0.value)

8.854174339061554e-12 8.8541878128e-12